<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Ether</title>
</head>
<body>

   <h3>Ether.ejs</h3>

   <form action="/Ether" method="post">
       <input type="submit" value="송금">
   </form>

</body>
</html>
