<html>
    <head>
        <title>WikiHome_page</title>
        <% include ./partials/wiki_header %>
    </head>
    <style>
        .big_frame {
            width: 100%;
            height: auto;
            border: 1px solid blue;
        }
    </style>
    <body>
        <div class="big_frame">
            <A href="/WikiHome/Edit">go Edit_page</A>
        </div>
    </body>
</html>
