<html>
    <head>
        <title>WikiHome_page</title>
        <% include ./partials/wiki_header %>
    </head>
    <style>
        .newfileguide_frame {
            width: 100%;
            height: 100%;
        }
        .newfileguide_block_frame{
            width: 70%;
            height: 100%;
            margin: 0 15% 0;
            border: 1px solid blue;
        }
    </style>
    <body>
        <div class="newfileguide_frame">
            <div class="newfileguide_block_frame">
              <A href="/WikiHome/Edit">go Edit_page</A>
            </div>
        </div>
    </body>
</html>
