<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mypage</title>
</head>
<body>
  <div style="text-align:center; margin:70px auto 60px auto;">
    <a href="/"><img style= " width:400px;" src="/images/main_logo.png"></a>
  </div>
    <h3>로그인 되었습니다.</h3>

    <form action="/User/Logout" method="post">
        <input type="submit" value="로그아웃">
    </form>
</body>
</html>
